/* WordPress Uploads Permissions Stylesheet */
/* Introduced in v0.3                       */ 

#wp-permissions_next,
#wp-permissions_previous {
	margin: 20px 5px;
	background: #ddd;
	padding: 5px;
	border: 1px solid #ccc;
}

#wp-permissions_wrapper {
	width: 90%;
}
#wp-permissions {
	width: 100%;
	clear: both;
	
}
#wp-permissions_length {
	float: right;
	margin: 0 20px 10px 0; 
}

#wp-permissions_filter {
	float: left;
	margin: 0 0 20px 5px;
}
#wp-permissions_paginate,
#wp-permissions_info
 {
	margin: 20px 0 10px 10px;
}

#wp-permissions_info {
	font-weight: bold;
}



th {
	text-align: center; background: #ccc;
}

th.left {
	text-align: left;
}

tr:nth-child(2n+1) {
	background: #ddd;
}

td,
th {
	padding: 10px;border: 1px solid #ccc;
}

td.directory {
	color: green;
}

td.file {
	color: blue;
}

td.warn {
	background: salmon;
}

td.sweet {
	background: lightgreen;
}

td.boom {
	background: orangered;text-align: center; color: #FFF;font-weight: bold;
}

tr:hover {
	background: #ffffee;
}

.creds-wrap {
	margin: 50px 0 20px 10px;
	font-style: italic;
	color: #777;
}