/* WordPress Uploads Permissions Stylesheet */
/* Introduced in v0.3                       */ 

th {
	text-align: center; background: #ccc;
}

th.left {
	text-align: left;
}

tr:nth-child(2n+1) {
	background: #ddd;
}

td,
th {
	padding: 10px;border: 1px solid #ccc;
}

td.directory {
	color: green;
}

td.file {
	color: blue;
}

td.warn {
	background: salmon;
}

td.sweet {
	background: lightgreen;
}

td.boom {
	background: orangered;text-align: center; color: #FFF;font-weight: bold;
}

tr:hover {
	background: #ffffee;
}

.creds-wrap {
	margin: 50px 0 20px 10px;
	font-style: italic;
	color: #777;
}